.navbar-brand{
  font-size: 30px;
  font-weight: normal;
  color: rgba(20, 157, 5, 0.459);;
}

svg {
  margin-right: 10px;
  color: rgba(20, 157, 5, 0.459);
}

.titulo{
  margin-left: 10px;
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
}

h5{
  margin-top: 20px;
  text-align: center;
}

p{
  text-align: center;
}

body{
  background-color: rgba(20, 157, 5, 0.459);
}