.navbar-brand{
  font-size: 30px;
  font-weight: normal;
  color: rgba(20, 157, 5, 0.459);;
}

svg {
  margin-right: 10px;
  color: rgba(20, 157, 5, 0.459);
}

.titulo{
  margin-left: 10px;
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
}

h5{
  margin-top: 20px;
  margin-left: 10px;
}

p{
  margin-left: 10px;
}

body{
  color: whitesmoke;
  background-color: rgba(20, 157, 5, 0.459);
}

.nav-link{
  color: rgba(20, 157, 5, 0.459);
}

.dropdown-item{
  color: rgba(20, 157, 5, 0.459);
}

.navbar-toggler{
  color: rgba(20, 157, 5, 0.459);
}

.btn-light{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 15px;
}